/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
/* Centrar el contenedor del logo */
.logo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre el logo y la encuesta */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Opcional: Ajustes para que el SVG sea flexible */
.logo svg {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e0e0e0;
    box-shadow: -20px -20px 60px #bebebe,
                20px 20px 60px #ffffff;;
    border-radius: 50px;
}

h5 {
    font-family: 'lato', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 96.4%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rating input {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #01ffff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: pink;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.step {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    transform-origin: top center;
    transition: transform 1s ease, opacity 0.5s ease;
    opacity: 1;
}

.step.active {
    display: block;
    position: relative;
    transform: translateY(0);
    opacity: 1;
    background-color: #e0e0e0;
}

.step.fall {
    transform: rotateX(90deg) translateY(100%);
    opacity: 0;
}

.step.next {
    transform: translateY(-100%);
    opacity: 0;
}

.step.appear {
    animation: appear 0.5s ease forwards;
}

@keyframes appear {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
